@import "./styles/theme";

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap");

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"),
    url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4mxK.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC,
    U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: local("Roboto Medium"), local("Roboto-Medium"),
    url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmEU9fBBc4.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC,
    U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html {
  overflow-y: scroll;
}

body {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.16rem;
  font-family: "Roboto";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", sans-serif;
  font-weight: bold;
}

h1 {
  font-size: 2.4rem;
}

p {
  line-height: 1.8rem;
}

strong,
em {
  font-weight: 500;
}

#root {
  width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

code {
  font-family: "Consolas", "Courier New", Courier, monospace;
  color: #222;
  font-weight: bolder;
  background-color: #e7e7e7;
  border-radius: 0.25rem;
  padding: 0.1rem 0.5rem;
}

pre {
  background-color: #eee;
  padding: 0.5rem 1.5rem 0.5rem;
  border-left: 2px solid #06f;

  overflow: hidden;
  font-size: 100%;
  color: #036;
  cursor: default;
  code {
    color: #002a66;
    border: none;
    padding: 0;
  }
}

a {
  color: #06f;
  text-decoration: none;
  font-weight: 500;
}

a:hover {
  color: $primary;
}

a:active {
  outline: 2px solid transparentize($color: $primary, $amount: 0.5);
}

s {
  color: #999;
}

table {
  border-collapse: collapse;
}

thead {
  border-bottom: 2px solid #6667;
}

tr {
  transition: 60ms all ease-in;
}

tr:hover {
  background-color: #eee;
}

th {
  font-weight: 500;
  font-size: 112.5%;
}

td {
  padding: 1.2rem 0.8rem 1.2rem;
  border-bottom: 1px solid #aaa;
}

@media (max-width: 900px) {
  #root {
    width: 75%;
  }

  h1 {
    font-size: 2rem;
  }
}

@media (max-width: 600px) {
  #root {
    width: 90%;
    font-size: 90%;
  }
}
