.about table * {
    border: none;
}

.about table tr:hover {
    background-color: transparent;
}

.about img {
    margin: 1rem;
    opacity: 0.75;
    height: 3rem;
}

.about img:hover {
    opacity: 1.0;
}