@import "../styles/theme";

.landing {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: start;
  cursor: default;
}

.landing .links img {
  margin: 0 1rem;
  opacity: 0.5;
  height: 3rem;
  text-align: center;
}

.landing .links img:hover {
  opacity: 1;
}

.landing h1:hover,
.landing h1:active {
  cursor: default;
  background: linear-gradient(to right, #f03, #30f, #00ff9d, #30f, #f03, #30f, #00ff9d, #30f, #f03);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: rainbow_animation 0.36s linear infinite;
  background-size: 200% 100%;
}
@keyframes rainbow_animation {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0%;
  }
}
